<div class='md-padding' layout="row" layout-wrap>
<md-card class=Card1>
	<md-card-title>
		<md-card-title-text>
			<span class="md-headline">Welcome</span>
		</md-card-title-text>
	</md-card-title>
	<md-card-content>
		<p>To the StemPact2020 Reports Viewer, a high-performance NodeJS+ngMaterial, Electron powered multiplatform app</p>
	</md-card-content>
</md-card>
<md-card class=Card3>
	<md-card-title>
		<md-card-title-text>
			<span class="md-headline">High Performance</span>
			<span class="md-subhead">In theory</span>
		</md-card-title-text>
	</md-card-title>
	<md-card-content>
		<p>This app makes use of some of the latest and greatest frameworks available in NodeJS, the ngMaterial toolkit, and Electron. Additionally, everything is backed by the time-tested power and stability of MySQL.
		<br />
		Will they work well together? Who knows?
		<br />
		Will they work better than Microsoft Access? What doesn't?</p>
	</md-card-content>
</md-card>
<md-card class=Card3>
	<md-card-title>
		<md-card-title-text>
			<span class="md-headline">Design</span>
			<span class="md-subhead"><i><b>A E S T H E T I C</b></i></span>
		</md-card-title-text>
	</md-card-title>
	<md-card-content>
		<p>Through use of the ngMaterial design toolkit, this app is <i>looking pretty good</i>.</p>
	</md-card-content>
</md-card>
<md-card class=Card3>
	<md-card-title>
		<md-card-title-text>
			<span class="md-headline">Electron</span>
			<span class="md-subhead">Like an atom?</span>
		</md-card-title-text>
	</md-card-title>
	<md-card-content>
		<p>GitHub's Electron framework allows the design of desktop applications in HTML, CSS, and JavaScript. Furthermore, similar frameworks such as Apache Cordova could be used to bring this app to mobile platforms, and the Windows Store</p>
	</md-card-content>
</md-card>
</div>
