<div class='md-padding' layout="row" layout-wrap>
  <md-card class=Card2>
  	<md-card-title>
  		<md-card-title-text>
  			<span class="md-headline">Applications</span>
  			<span class="md-subhead">Submitted this month</span>
  		</md-card-title-text>
  	</md-card-title>
  	<md-card-content>
  		<p class=md-display-2>{{applications}}</p>
  	</md-card-content>
  </md-card>
  <md-card class=Card2>
  	<md-card-title>
  		<md-card-title-text>
  			<span class="md-headline">Hours</span>
  			<span class="md-subhead">Logged by students and volunteers this month</span>
  		</md-card-title-text>
  	</md-card-title>
  	<md-card-content>
  		<p class=md-display-2>{{totalhours}}</p>
  	</md-card-content>
  </md-card>

  <md-card class=Card3>
  	<md-card-title>
  		<md-card-title-text>
  			<span class="md-headline">Volunteers</span>
  			<span class="md-subhead">Active this month</span>
  		</md-card-title-text>
  	</md-card-title>
  	<md-card-content>
  		<p class=md-display-2>{{volunteers}}</p>
  	</md-card-content>
  </md-card>
  <md-card class=Card3>
  	<md-card-title>
  		<md-card-title-text>
  			<span class="md-headline">Volunteers</span>
  			<span class="md-subhead">New this month</span>
  		</md-card-title-text>
  	</md-card-title>
  	<md-card-content>
  		<p class=md-display-2>{{newvolunteers}}</p>
  	</md-card-content>
  </md-card>
  <md-card class=Card3>
  	<md-card-title>
  		<md-card-title-text>
  			<span class="md-headline">Volunteers</span>
  			<span class="md-subhead">Returning this month</span>
  		</md-card-title-text>
  	</md-card-title>
  	<md-card-content>
  		<p class=md-display-2>{{volunteers - newvolunteers}}</p>
  	</md-card-content>
  </md-card>

  <md-card class=Card2>
  	<md-card-title>
  		<md-card-title-text>
  			<span class="md-headline">Programs</span>
  			<span class="md-subhead">With volunteers active this month</span>
  		</md-card-title-text>
  	</md-card-title>
  	<md-card-content>
  		<p class=md-display-2>{{programs}}</p>
  	</md-card-content>
  </md-card>
  <md-card class=Card2>
  	<md-card-title>
  		<md-card-title-text>
  			<span class="md-headline">Employers</span>
  			<span class="md-subhead">With volunteers active this month</span>
  		</md-card-title-text>
  	</md-card-title>
  	<md-card-content>
  		<p class=md-display-2>{{employers}}</p>
  	</md-card-content>
  </md-card>

  <md-card class=Card3>
  	<md-card-title>
  		<md-card-title-text>
  			<span class="md-headline">Students</span>
  			<span class="md-subhead">Active this month</span>
  		</md-card-title-text>
  	</md-card-title>
  	<md-card-content>
  		<p class=md-display-2>{{students}}</p>
  	</md-card-content>
  </md-card>
  <md-card class=Card3>
  	<md-card-title>
  		<md-card-title-text>
  			<span class="md-headline">Students</span>
  			<span class="md-subhead">New this month</span>
  		</md-card-title-text>
  	</md-card-title>
  	<md-card-content>
  		<p class=md-display-2>{{newstudents}}</p>
  	</md-card-content>
  </md-card>
  <md-card class=Card3>
  	<md-card-title>
  		<md-card-title-text>
  			<span class="md-headline">Students</span>
  			<span class="md-subhead">Returning this month</span>
  		</md-card-title-text>
  	</md-card-title>
  	<md-card-content>
  		<p class=md-display-2>{{students - newstudents}}</p>
  	</md-card-content>
  </md-card>
</div>
